{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <style>
        body{background-color: rgb(180, 194, 179);}
          ul {
              list-style-type: none;
              padding: 0;
              overflow: hidden;
              background-color:  rgb(193, 167, 147);
              padding: 14px 16px;
              text-align: center;
              font-size: large;
              font-weight: bold;
          }
          li {
            display: inline;
          }
          li a {
          text-decoration: none;
          
          }

          .login{
            color: rgb(99, 83, 62);
            font-family:monospace;
          }
          </style>
      <ul class="navbar-nav">
        <li class="nav-item">
          <span style="text-align: center" class="navbar-brand" href="#"> Welcomeee!!</span>
        </li>
      </ul>
  </div>
</nav>
<div class ="login">

    <h1 style="text-align: center">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table style="margin-left:auto;margin-right:auto">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    <table style="text-align: center">
        <h5 style="text-align: center">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
        </h5>
        
    </table>

</div>

{% endblock content %}