{% extends 'base.html' %}

{% block content %}
<body>
<h1 style="text-align: center ">{{user.username}}'s To do list</h1>

<style>
    table, th{
      text-align: center;
      border: 1px solid rgb(255, 255, 255);
      border-collapse: collapse;
    }
    td{
      text-align: center;
      border: 1px solid rgb(255, 255, 255);
      border-collapse: collapse;
    }
    .button{
      text-align: center;
      margin-top: 10px;
    }
  </style>

<table rules="all", border="10", table align="center">
  <thread>
    <tr style="background-color: rgb(191, 175, 219);">
      <th colspan="2">Tanggal</th>
      <th colspan="2">Judul</th>
      <th colspan="3">Deskripsi</th>
      <th colspan="2" >Hapus</th>
    </tr>
  </thread>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in todolist %}

        <td colspan="2">{{task.date}}</td>
        <td colspan="2">{{task.title}}</td>
        <td colspan="3">{{task.description}}</td>
        <td colspan="2">
          <button><a href="delete_task/{{task.pk}}">Delete</a></button>
        </td>
    </tr>
{% endfor %}
</table>
<div class="button">
  <button ><a href="{% url 'todolist:logout' %}">Logout</a></button>
  <button><a href="{% url 'todolist:my_todolist' %}">Add Todo</a></button>  
</div>

</body>

{% endblock content %}